name: Only allow develop to main

on:
  pull_request:
    branches:
      - main

jobs:
  check-source-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Fail if PR is not from develop
        run: |
          if [ "${{ github.head_ref }}" != "develop" ]; then
            echo "Only PRs from 'develop' to 'main' are allowed."
            exit 1
          fi
